<html>

<head>
    <title> EJS</title>
</head>

<body>
    <div style="background-color:yellow; padding:50;">
        <h2> <center> EJS IS COOL!!</h2>
    </div>

    asdsad
    <%- body %>
</body>

</html>
