<div class="page-content-wrapper">
    <div class="page-content">

        
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="index.html">Home</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <a href="#">Blank Page</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <span>Page Layouts</span>
                </li>
            </ul>
            <div class="page-toolbar">
                <div class="btn-group pull-right">
                    <button type="button" class="btn green btn-sm btn-outline dropdown-toggle" data-toggle="dropdown"> Actions
                        <i class="fa fa-angle-down"></i>
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li>
                            <a href="#">
                                <i class="icon-bell"></i> Action</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-shield"></i> Another action</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-user"></i> Something else here</a>
                        </li>
                        <li class="divider"> </li>
                        <li>
                            <a href="#">
                                <i class="icon-bag"></i> Separated link</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <h1 class="page-title"> Add Menu
        </h1>
        
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Add New Menu </div>
                <div class="tools">
                    <a href="javascript:;" class="expand" data-original-title="" title=""> </a>
                </div>
            </div>
            <div class="portlet-body form" style="display: none;">
                <!-- BEGIN FORM-->
                <form method="POST" action="" class="form-horizontal">
                    <div class="form-body">
                            <div class="form-group">
                                    <label class="col-md-3 control-label">Menu Type</label>
                                    <div class="col-md-9">
                                        <div class="mt-radio-inline">
                                            <label class="mt-radio">
                                                <input type="radio" name="menuType" id="optionsRadios25" value="1" > Parent
                                                <span></span>
                                            </label>
                                            <label class="mt-radio">
                                                <input type="radio" name="menuType" id="optionsRadios26" value="0" checked=""> Child
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                        <label class="col-md-3 control-label">Select Parent</label>
                                        <div class="col-md-4">
                                            <select name="parent_id" class="form-control ">
                                                <% data.menuData.forEach((menu)=>{%>
                                                    <option value="<%= menu._id%>"> <%= menu.title%> </option>
                                                <%})%>
                                                
                                            </select>
                                        </div>
                                    </div>

                    <div class="form-group">
                            <label class="col-md-3 control-label">Title</label>
                            <div class="col-md-4">
                                <input name="title" type="text" class="form-control " placeholder="Enter text">
                            </div>
                    </div>

                    <div class="form-group">
                            <label class="col-md-3 control-label">Link</label>
                            <div class="col-md-4">
                                <input name='url' type="text" class="form-control " placeholder="Enter text">
                            </div>
                    </div>
                        
                       
                        
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn btn-circle green">Submit</button>
                                <button type="button" class="btn btn-circle grey-salsa btn-outline">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>

        <div class="portlet light portlet-fit portlet-datatable bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject font-dark sbold uppercase">Ajax Datatable</span>
                </div>
                <div class="actions">
                    <div class="btn-group btn-group-devided" data-toggle="buttons">
                        <label class="btn btn-transparent grey-salsa btn-outline btn-circle btn-sm active">
                            <input type="radio" name="options" class="toggle" id="option1">Actions</label>
                        <label class="btn btn-transparent grey-salsa btn-outline btn-circle btn-sm">
                            <input type="radio" name="options" class="toggle" id="option2">Settings</label>
                    </div>
                    <div class="btn-group">
                        <a class="btn red btn-outline btn-circle" href="javascript:;" data-toggle="dropdown">
                            <i class="fa fa-share"></i>
                            <span class="hidden-xs"> Tools </span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="javascript:;"> Export to Excel </a>
                            </li>
                            <li>
                                <a href="javascript:;"> Export to CSV </a>
                            </li>
                            <li>
                                <a href="javascript:;"> Export to XML </a>
                            </li>
                            <li class="divider"> </li>
                            <li>
                                <a href="javascript:;"> Print Invoices </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-container" >
                    
                    <div id="datatable_ajax_wrapper" class="dataTables_wrapper dataTables_extended_wrapper no-footer"><div class="row"><div class="col-md-8 col-sm-12"><div class="dataTables_paginate paging_bootstrap_extended" id="datatable_ajax_paginate"><div class="pagination-panel"> Page <a href="#" class="btn btn-sm default prev disabled"><i class="fa fa-angle-left"></i></a><input type="text" class="pagination-panel-input form-control input-sm input-inline input-mini" maxlenght="5" style="text-align:center; margin: 0 5px;"><a href="#" class="btn btn-sm default next"><i class="fa fa-angle-right"></i></a> of <span class="pagination-panel-total">18</span></div></div><div class="dataTables_length" id="datatable_ajax_length"><label><span class="seperator">|</span>View <select name="datatable_ajax_length" aria-controls="datatable_ajax" class="form-control input-xs input-sm input-inline"><option value="10">10</option><option value="20">20</option><option value="50">50</option><option value="100">100</option><option value="150">150</option><option value="-1">All</option></select> records</label></div><div class="dataTables_info" id="datatable_ajax_info" role="status" aria-live="polite"><span class="seperator">|</span>Found total 178 records</div></div><div class="col-md-4 col-sm-12"><div class="table-group-actions pull-right">
                        <span></span>
                        <select class="table-group-action-input form-control input-inline input-small input-sm">
                            <option value="">Select...</option>
                            <option value="Cancel">Cancel</option>
                            <option value="Cancel">Hold</option>
                            <option value="Cancel">On Hold</option>
                            <option value="Close">Close</option>
                        </select>
                        <button class="btn btn-sm green table-group-action-submit">
                            <i class="fa fa-check"></i> Submit</button>
                    </div></div></div><div class="table-responsive"><table class="table table-striped table-bordered table-hover table-checkable dataTable no-footer" id="datatable_ajax" aria-describedby="datatable_ajax_info" role="grid">
                        <thead>
                            <tr role="row" class="heading"><th width="2%" class="sorting_disabled" rowspan="1" colspan="1" aria-label="
                                    
                                        
                                        
                                    
                                ">
                                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                        <input type="checkbox" class="group-checkable" data-set="#sample_2 .checkboxes">
                                        <span></span>
                                    </label>
                                </th><th width="5%" class="sorting_asc" tabindex="0" aria-controls="datatable_ajax" rowspan="1" colspan="1" aria-sort="ascending" aria-label=" Record&amp;nbsp;# : activate to sort column descending"> Record&nbsp;# </th><th width="15%" class="sorting" tabindex="0" aria-controls="datatable_ajax" rowspan="1" colspan="1" aria-label=" Date : activate to sort column ascending"> Date </th><th width="200" class="sorting" tabindex="0" aria-controls="datatable_ajax" rowspan="1" colspan="1" aria-label=" Customer : activate to sort column ascending"> Customer </th><th width="10%" class="sorting" tabindex="0" aria-controls="datatable_ajax" rowspan="1" colspan="1" aria-label=" Ship&amp;nbsp;To : activate to sort column ascending"> Ship&nbsp;To </th><th width="10%" class="sorting" tabindex="0" aria-controls="datatable_ajax" rowspan="1" colspan="1" aria-label=" Price : activate to sort column ascending"> Price </th><th width="10%" class="sorting" tabindex="0" aria-controls="datatable_ajax" rowspan="1" colspan="1" aria-label=" Amount : activate to sort column ascending"> Amount </th><th width="10%" class="sorting" tabindex="0" aria-controls="datatable_ajax" rowspan="1" colspan="1" aria-label=" Status : activate to sort column ascending"> Status </th><th width="10%" class="sorting" tabindex="0" aria-controls="datatable_ajax" rowspan="1" colspan="1" aria-label=" Actions : activate to sort column ascending"> Actions </th></tr>
                            <tr role="row" class="filter"><td rowspan="1" colspan="1"> </td><td rowspan="1" colspan="1">
                                    <input type="text" class="form-control form-filter input-sm" name="order_id"> </td><td rowspan="1" colspan="1">
                                    <div class="input-group date date-picker margin-bottom-5" data-date-format="dd/mm/yyyy">
                                        <input type="text" class="form-control form-filter input-sm" readonly="" name="order_date_from" placeholder="From">
                                        <span class="input-group-btn">
                                            <button class="btn btn-sm default" type="button">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </span>
                                    </div>
                                    <div class="input-group date date-picker" data-date-format="dd/mm/yyyy">
                                        <input type="text" class="form-control form-filter input-sm" readonly="" name="order_date_to" placeholder="To">
                                        <span class="input-group-btn">
                                            <button class="btn btn-sm default" type="button">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </span>
                                    </div>
                                </td><td rowspan="1" colspan="1">
                                    <input type="text" class="form-control form-filter input-sm" name="order_customer_name"> </td><td rowspan="1" colspan="1">
                                    <input type="text" class="form-control form-filter input-sm" name="order_ship_to"> </td><td rowspan="1" colspan="1">
                                    <div class="margin-bottom-5">
                                        <input type="text" class="form-control form-filter input-sm" name="order_price_from" placeholder="From"> </div>
                                    <input type="text" class="form-control form-filter input-sm" name="order_price_to" placeholder="To"> </td><td rowspan="1" colspan="1">
                                    <div class="margin-bottom-5">
                                        <input type="text" class="form-control form-filter input-sm margin-bottom-5 clearfix" name="order_quantity_from" placeholder="From"> </div>
                                    <input type="text" class="form-control form-filter input-sm" name="order_quantity_to" placeholder="To"> </td><td rowspan="1" colspan="1">
                                    <select name="order_status" class="form-control form-filter input-sm">
                                        <option value="">Select...</option>
                                        <option value="pending">Pending</option>
                                        <option value="closed">Closed</option>
                                        <option value="hold">On Hold</option>
                                        <option value="fraud">Fraud</option>
                                    </select>
                                </td><td rowspan="1" colspan="1">
                                    <div class="margin-bottom-5">
                                        <button class="btn btn-sm green btn-outline filter-submit margin-bottom">
                                            <i class="fa fa-search"></i> Search</button>
                                    </div>
                                    <button class="btn btn-sm red btn-outline filter-cancel">
                                        <i class="fa fa-times"></i> Reset</button>
                                </td></tr>
                        </thead>
                        <tbody> <tr role="row" class="odd"><td><label class="mt-checkbox mt-checkbox-single mt-checkbox-outline"><input name="id[]" type="checkbox" class="checkboxes" value="1"><span></span></label></td><td class="sorting_1">1</td><td>12/09/2013</td><td>Jhon Doe</td><td>Jhon Doe</td><td>450.60$</td><td>9</td><td><span class="label label-sm label-info">Closed</span></td><td><a href="javascript:;" class="btn btn-sm btn-outline grey-salsa"><i class="fa fa-search"></i> View</a></td></tr><tr role="row" class="even"><td><label class="mt-checkbox mt-checkbox-single mt-checkbox-outline"><input name="id[]" type="checkbox" class="checkboxes" value="2"><span></span></label></td><td class="sorting_1">2</td><td>12/09/2013</td><td>Jhon Doe</td><td>Jhon Doe</td><td>450.60$</td><td>3</td><td><span class="label label-sm label-success">Pending</span></td><td><a href="javascript:;" class="btn btn-sm btn-outline grey-salsa"><i class="fa fa-search"></i> View</a></td></tr><tr role="row" class="odd"><td><label class="mt-checkbox mt-checkbox-single mt-checkbox-outline"><input name="id[]" type="checkbox" class="checkboxes" value="3"><span></span></label></td><td class="sorting_1">3</td><td>12/09/2013</td><td>Jhon Doe</td><td>Jhon Doe</td><td>450.60$</td><td>6</td><td><span class="label label-sm label-info">Closed</span></td><td><a href="javascript:;" class="btn btn-sm btn-outline grey-salsa"><i class="fa fa-search"></i> View</a></td></tr><tr role="row" class="even"><td><label class="mt-checkbox mt-checkbox-single mt-checkbox-outline"><input name="id[]" type="checkbox" class="checkboxes" value="4"><span></span></label></td><td class="sorting_1">4</td><td>12/09/2013</td><td>Jhon Doe</td><td>Jhon Doe</td><td>450.60$</td><td>4</td><td><span class="label label-sm label-info">Closed</span></td><td><a href="javascript:;" class="btn btn-sm btn-outline grey-salsa"><i class="fa fa-search"></i> View</a></td></tr><tr role="row" class="odd"><td><label class="mt-checkbox mt-checkbox-single mt-checkbox-outline"><input name="id[]" type="checkbox" class="checkboxes" value="5"><span></span></label></td><td class="sorting_1">5</td><td>12/09/2013</td><td>Jhon Doe</td><td>Jhon Doe</td><td>450.60$</td><td>1</td><td><span class="label label-sm label-info">Closed</span></td><td><a href="javascript:;" class="btn btn-sm btn-outline grey-salsa"><i class="fa fa-search"></i> View</a></td></tr><tr role="row" class="even"><td><label class="mt-checkbox mt-checkbox-single mt-checkbox-outline"><input name="id[]" type="checkbox" class="checkboxes" value="6"><span></span></label></td><td class="sorting_1">6</td><td>12/09/2013</td><td>Jhon Doe</td><td>Jhon Doe</td><td>450.60$</td><td>4</td><td><span class="label label-sm label-success">Pending</span></td><td><a href="javascript:;" class="btn btn-sm btn-outline grey-salsa"><i class="fa fa-search"></i> View</a></td></tr><tr role="row" class="odd"><td><label class="mt-checkbox mt-checkbox-single mt-checkbox-outline"><input name="id[]" type="checkbox" class="checkboxes" value="7"><span></span></label></td><td class="sorting_1">7</td><td>12/09/2013</td><td>Jhon Doe</td><td>Jhon Doe</td><td>450.60$</td><td>5</td><td><span class="label label-sm label-danger">On Hold</span></td><td><a href="javascript:;" class="btn btn-sm btn-outline grey-salsa"><i class="fa fa-search"></i> View</a></td></tr><tr role="row" class="even"><td><label class="mt-checkbox mt-checkbox-single mt-checkbox-outline"><input name="id[]" type="checkbox" class="checkboxes" value="8"><span></span></label></td><td class="sorting_1">8</td><td>12/09/2013</td><td>Jhon Doe</td><td>Jhon Doe</td><td>450.60$</td><td>3</td><td><span class="label label-sm label-success">Pending</span></td><td><a href="javascript:;" class="btn btn-sm btn-outline grey-salsa"><i class="fa fa-search"></i> View</a></td></tr><tr role="row" class="odd"><td><label class="mt-checkbox mt-checkbox-single mt-checkbox-outline"><input name="id[]" type="checkbox" class="checkboxes" value="9"><span></span></label></td><td class="sorting_1">9</td><td>12/09/2013</td><td>Jhon Doe</td><td>Jhon Doe</td><td>450.60$</td><td>4</td><td><span class="label label-sm label-success">Pending</span></td><td><a href="javascript:;" class="btn btn-sm btn-outline grey-salsa"><i class="fa fa-search"></i> View</a></td></tr><tr role="row" class="even"><td><label class="mt-checkbox mt-checkbox-single mt-checkbox-outline"><input name="id[]" type="checkbox" class="checkboxes" value="10"><span></span></label></td><td class="sorting_1">10</td><td>12/09/2013</td><td>Jhon Doe</td><td>Jhon Doe</td><td>450.60$</td><td>3</td><td><span class="label label-sm label-info">Closed</span></td><td><a href="javascript:;" class="btn btn-sm btn-outline grey-salsa"><i class="fa fa-search"></i> View</a></td></tr></tbody>
                    </table></div><div class="row"><div class="col-md-8 col-sm-12"><div class="dataTables_paginate paging_bootstrap_extended"><div class="pagination-panel"> Page <a href="#" class="btn btn-sm default prev disabled"><i class="fa fa-angle-left"></i></a><input type="text" class="pagination-panel-input form-control input-sm input-inline input-mini" maxlenght="5" style="text-align:center; margin: 0 5px;"><a href="#" class="btn btn-sm default next"><i class="fa fa-angle-right"></i></a> of <span class="pagination-panel-total">18</span></div></div><div class="dataTables_length"><label><span class="seperator">|</span>View <select name="datatable_ajax_length" aria-controls="datatable_ajax" class="form-control input-xs input-sm input-inline"><option value="10">10</option><option value="20">20</option><option value="50">50</option><option value="100">100</option><option value="150">150</option><option value="-1">All</option></select> records</label></div><div class="dataTables_info"><span class="seperator">|</span>Found total 178 records</div></div><div class="col-md-4 col-sm-12"></div></div></div>
                </div>
            </div>
        </div>
        
    </div>
    
</div>
