<div  class="page-sidebar-wrapper">
    <div  class="page-sidebar navbar-collapse collapse">
            <ul id="menuRoot" class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" >
                </ul>
        </div>
</div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/babel">
        class Menu extends React.Component {

            state = {
                menuLoaded : false,
                menuData : null
            }

            componentDidMount(){
               
                axios.get('http://localhost:3202/admin/menu/getmenu')
                .then((response)=>{

                    this.setState({
                   menuLoaded : true,
                   menuData : response.data
               })
                    
                })

              
            }

            render() {
                return (<MenuGenerate menuLoaded={this.state.menuLoaded} menudata={this.state.menuData} />);
            }
        }

        const MenuGenerate = (props)=>{
            
            if(props.menuLoaded){
                var menudata = props.menudata;
                
                if(menudata.length > 0){

                    var menu = menudata.map((menu   )=>{
                        return (<li className="nav-item  ">
                    <a href="javascript:;" className="nav-link nav-toggle">
                        <i className="icon-diamond"></i>
                        <span className="title">{menu._id.title}</span>
                        <span className="arrow"></span>
                    </a>
                    <Submenu submenuData = {menu.sbmenu} />
                </li>)
                    })

                }
                return (

                                       
                            
                            
                            <React.Fragment>
                                <li className="sidebar-toggler-wrapper hide">
                                    <div className="sidebar-toggler">
                                        <span></span>
                                    </div>
                                </li>
                                <li className="heading">
                                    <h3 className="uppercase">Features</h3>
                                </li>
                                {menu}
                                </React.Fragment>
                        
                        

                );
            }else{
                return (<Loading/>)
            }

        }

        const Aux = (props) => props.children;

        const Loading = ()=>{
            return (<div>Loading Menu Please Wait</div>)
        }

       const Submenu = (props)=>{
        var submenu = props.submenuData;

        if(submenu.length > 0){

           return submenu.map((menu)=>{

                return (<ul className="sub-menu">
                        <li className="nav-item  ">
                            <a href="ui_colors.html" className="nav-link ">
                                <span className="title">{menu.title}</span>
                            </a>
                        </li>
                       
                    </ul>)

            })
            

        }
        return null;

        }

        ReactDOM.render(
            <Menu />,
            document.getElementById('menuRoot')
        );

        </script